<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Express Guestbook</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/
bootstrap.min.css">
<link rel="stylesheet" href="/css/bootstrap.css"/>
</head>
<body class="container">
    <div class="col-sm-8 m-auto">
        <h1>
            Express Guestbook <br>
            <a href="/new-entry" class="btn btn-primary">
            Write in guestbook
            </a>
        </h1>
    </div>
